<div class="form--default">
    <h3 class="form__legend text--left">Вход</h3>
    <div class="form__row">
        <label for="label-login" class="form__control">Имя пользователя</label>
        <input id="label-login" class="form__control" name="password" ng-model="vm.username">
    </div>
    <div class="form__row">
        <label for="label-password" class="form__control">Пароль</label>
        <input id="label-password" class="form__control" name="password" ng-model="vm.password">
    </div>
    <button ng-click="vm.cancel()" class="block--right button--warning">Назад</button>
    <button ng-click="vm.login()" class="block--right button--login">Войти</button>
</div>