<div class="form--default">
    <div class="form__row">
        <label for="label-login" class="form__control">Username</label>
        <input id="label-login" class="form__control" ng-model="vm.username">
    </div>
    <div class="form__row">
        <label for="label-password" class="form__control">Password</label>
        <input id="label-password" class="form__control" ng-model="vm.password">
    </div>
    <button ng-click="vm.login()" class="block--right button button--login">Login</button>
</div>