$font-stack: Helvetica, sans-serif;
$color--default: #f4f5cd;
$color--success: #7cce63;
$color--warning: #eee600;

*, *::before, *::after {
  box-sizing: border-box;
  border: none;
}

@function f-width($columns, $total: 12) {
  @return ($columns / $total) * 100%
}

$width--1: f-width(1);
$width--2: f-width(2);
$width--3: f-width(3);
$width--4: f-width(4);
$width--5: f-width(5);
$width--6: f-width(6);
$width--7: f-width(7);
$width--8: f-width(8);
$width--9: f-width(9);
$width--10: f-width(10);
$width--11: f-width(11);
$width--12: f-width(12);

body {
  font: 100% $font-stack;
  color: #435363;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  font-size: 1.1em;
  color: #aa1110;
}

.list--group {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 5px 10px;
  }
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.icon--add {
  @extend .icon;
  background: url("../images/add.png");
}

.icon--edit{
  @extend .icon;
  background: url("../images/edit.png");
}

.icon--remove{
  @extend .icon;
  background: url("../images/remove.png");
}

.block--center {
  margin: 0 auto;
}

.block--left {
  float: left;
}

.block--right {
  float: right;
}

.header {
  @extend .block--center;
  width: $width--12;
}

.header__user {
  display: block;
  margin: 15px;
  .button {
    margin-left: 15px;
  }
}

.header--menu {
  ul li {
    display: inline-block;
    &:hover {
      background-color: darken($color--default, 25%);
      cursor: pointer;
    }
    a {
      display: inline-block;
      padding: 20px 25px;
      box-shadow: 1px 1px 3px #000000;
    }
  }
}

.menu {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }
}

.content {
  width: $width--10;
  min-height: 600px;
  text-align: center;
  vertical-align: middle;
  margin: 15px auto;
}