@import "layout";

.button {
  cursor: pointer;
  box-shadow: 1px 1px 3px;
  border: none;
  padding: 10px 25px;
  margin: 2px;
}

.button--success {
  @extend .button;
  background-color: $color--success;
}

.button--warning {
  @extend .button;
  background-color: $color--warning;
}

.button--login {
  @extend .button--success
}