@import "layout";

.table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  tr {
    margin: 8px 5px;
    &:hover {
      cursor: pointer;
      background-color: darken($color--default, 10%);
    }
    td {
      padding: 8px 5px;
    }
  }
}

.table--user {
  width: $width--6;
  tr td:first-child {
    padding-left: 15px;
    width: $width--5;
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
  }
}
