@import "layout";

.table {
  border-collapse: collapse;
  width: 100%;
  thead {
    font-size: 1.2em;
  }
  tbody tr {
    margin: 8px 5px;
    &:hover {
      cursor: pointer;
      background-color: darken($color--default, 10%);
    }
    td {
      padding: 8px 5px;
    }
  }
}

.table__column--numbering {
  width: 25px;
}

.table__column--checking {
  width: 25px;
}
