<header class="nav">
    <div class="nav__product">
        <div class="product">
            <span class="product__name"></span>
            <span class="product__logo"></span>
        </div>
    </div>
    <div ng-hide="vm.isLogging()" class="nav__menu">
        <ul>
            <li ng-show="vm.isAdmin() || vm.isTeacher()"><a ui-sref="students.list">Магистранты</a></li>
            <li ng-show="vm.isAdmin()"><a ui-sref="teachers">Преподаватели</a></li>
            <li ng-show="vm.isAdmin()"><a ui-sref="users">Пользователи</a></li>
            <li ng-show="vm.isTeacher() || vm.isStudent()"><a ui-sref="documents.list">Справочная литерату</a></li>
            <!--<li ng-show="vm.isStudent()"><a ui-sref="essays.add">Реферат</a></li>-->
            <li ng-show="vm.isStudent()"><a ui-sref="essays.list">Список работ</a></li>
        </ul>
    </div>
    <div class="nav__user">
        <span ng-show="vm.isAuthenticated()">Здравствуйте, <a ui-sref="users.private">{{vm.personalInfo | fullName}}!</a></span>
        <a class="button" ng-click="vm.logout()" ng-show="vm.isAuthenticated()">Выйти</a>
        <a class="button" ng-hide="vm.isAuthenticated() || vm.isLogging()" ui-sref="login">Войти</a>
    </div>
</header>