@import "layout";

.button {
  cursor: pointer;
  padding: 10px 25px;
  margin: 2px;
}

.button--success {
  @extend .button;
  color: $color--white;
  background-color: $color--success;
}

.button--warning {
  @extend .button;
  color: $color--white;
  background-color: $color--warning;
}

.button--primary {
  @extend .button;
  color: $color--white;
  background-color: $color--blue;
}