@import "layout";

.form {
  padding: 25px;
  border: 1px solid $color--primary;
  button {
    margin-top: 2em;
  }
}

.form__legend {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 1px solid $color--black;
}

.form__control {
  padding: 8px 5px;
  margin: 5px;
  width: $width--12;
}

.form__row {
  width: $width--12;
  line-height: 1.1em;
  margin-bottom: 15px;
  margin-top: 10px;
}

.form__row--inline {
  text-align: left;
  label.form__control {
    margin-right: 3em;
    display: inline;
  }
}

input:not([type="file"]).form__control,
select.form__control {
  border-bottom: 1px solid $color--green;
  &:focus {
    background-color: $color--primary;
    color: $color--white;
    border-bottom: 1px solid $color--white;
  }
}

textarea.form__control {
  border: 1px solid $color--green;
  height: 200px;
  &:focus {
    background-color: $color--primary;
    color: $color--white;
    border: 1px solid $color--white;
  }
}

label.form__control {
  display: inline-block;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.form--login {
  @extend .form;
  display: inline-block;
  margin: 20px auto;
  width: $width--4;
}

.form--default {
  @extend .form;
  margin: 0 auto;
  display: inline-block;
  width: $width--7;
}