@import "layout";

.table {
  border-collapse: collapse;
  width: $width--12;
  caption {
    color: $color--primary;
  }
  thead {
    color: $color--primary;
    font-size: 1.1em;
  }
  tbody tr {
    margin: 0;
    &:hover {
      cursor: pointer;
      background-color: darken($color--white, 5%);
    }
    td {
      padding: 0;
    }
  }
}

.table__column--numbering {
  width: 25px;
}

.table__column--checking {
  width: 25px;
}
