<div class="block--center">
    <table class="table">
        <caption>
            <h3 class="block--left text--left">Список студентов</h3>
            <ul class="list--group block--right">
                <li><a ui-sref="student-add" class="icon--add" title="Добавить"></a></li>
                <li><a ng-click="vm.remove()" class="icon--remove" title="Удалить"></a></li>
            </ul>
        </caption>
        <thead>
            <tr>
                <th class="table__column--numbering">#</th>
                <th class="table__column--checking"></th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Год рождения</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in vm.studentList">
                <td>{{$index + 1}}</td>
                <td><input type="checkbox" ng-model="student.checked"></td>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.patronymic}}</td>
                <td>{{student.birthday}}</td>
                <td><span ui-sref="student-edit({id: {{student.id}}})" class="icon--edit" title="Изменить"></span></td>
            </tr>
        </tbody>
    </table>
</div>