<header class="nav">
    <div class="nav__product">
        <div class="product">
            <span class="product__name"></span>
            <span class="product__logo"></span>
        </div>
    </div>
    <div class="nav__menu">
        <ul>
            <li><a ui-sref="/">Главгая</a></li>
            <li><a ui-sref="students">Студенты</a></li>
            <li><a href="#/api/teachers">Преподаватели</a></li>
            <li><a href="#/api/file/upload">Загрузить материал</a></li>
        </ul>
    </div>
    <div class="nav__user">
        <span ng-show="vm.isLoggedUser()">Здравствуйте, <a href="#/api/users/private">{{vm.getUserName()}}!</a></span>
        <a class="button" ng-click="vm.logout()" ng-show="vm.isLoggedUser()">Выйти</a>
        <a class="button" ng-hide="vm.isLoggedUser()" href="#/api/login">Войти</a>
    </div>
</header>