<div class="block--center">
    <table class="table">
        <caption>
            <h3 class="block--left text--left">Список студентов</h3>
            <ul class="list--group block--right">
                <li><a ui-sref="student-add" class="icon--add" title="Добавить"></a></li>
                <li><a ng-click="vm.remove()" class="icon--remove" title="Удалить"></a></li>
            </ul>
        </caption>
        <thead>
            <tr>
                <td class="table__column--numbering">#</td>
                <td class="table__column--checking"></td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Отчество</td>
                <td>Возраст</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in vm.studentList">
                <td>{{$index + 1}}</td>
                <td><input type="checkbox" ng-model="student.checked"></td>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.patronymic}}</td>
                <td>{{student.age}}</td>
                <td><span ng-click="vm.edit(student)" class="icon--edit" title="Изменить"></span></td>
            </tr>
        </tbody>
    </table>
</div>