<div class="block--center">
    <table class="table">
        <caption>
            <h3>Students</h3>
            <ul class="block--right">
                <li><a ui-sref="student-add">Add</a></li>
            </ul>
        </caption>
        <thead>
            <tr>
                <td>#</td>
                <td></td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Age</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in vm.studentList">
                <td>{{$index}}</td>
                <td><input type="checkbox" ng-model="student.checked"></td>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.age}}</td>
            </tr>
        </tbody>
    </table>
</div>