<div class="document">
    <form class="form--default">
        <h3 class="form__legend">Загрузка справочного материала</h3>
        <div class="form__row--inline">
            <label for="label-document-title" class="form__control">Название:</label>
            <input id="label-document-title" type="text" class="form__control" ng-model="vm.document.title">
        </div>
        <div class="form__row--inline">
            <label for="label-document-description" class="form__control">Описание:</label>
            <input id="label-document-description" type="text" class="form__control" ng-model="vm.document.description">
        </div>
        <div class="form__row--inline">
            <label for="label-document-subject" class="form__control">Тематика:</label>
            <select id="label-document-subject" class="form__control" name="tag"
                ng-options="t as t.title for t in vm.subjects track by t.id"
                ng-model="vm.document.subject">
            </select>
        </div>
        <div ng-hide="vm.isAdd" class="form__row--inline">
            <label for="label-document-file-new" class="form__control">Документ:</label>
            <input id="label-document-file-new" type="button" class="form__control" ng-click="vm.download()" value="Скачать"/>
        </div>
        <div class="form__row--inline">
            <label for="label-document-file" class="form__control">{{vm.documentText}}:</label>
            <input id="label-document-file" type="file" class="form__control" nv-file-select uploader="vm.uploader"/>
        </div>
        <div class="form__row">
            <button ng-click="vm.submit(vm.document)" class="block--right button--success">{{vm.submitText}}</button>
            <button ng-click="vm.cancel()" class="block--right button--warning">Назад</button>
        </div>
    </form>
</div>